{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Maximo Asset Monitor Query REST API",
    "description": "A Maximo Asset Monitor API Query REST interface that uses a allows you to converse with Maximo Asset Monitor data using the swagger-2.0 specification",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "Carlos Ferreira"
    },
    "license": {
      "name": "Apache 2.0"
    }
  },
  "host": "monitor-query.mybluemix.net",
  "basePath": "/v1/api/#/EntityTypes",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/query_entity_data": {
      "post": {
        "description": "Query to retrieve asset metrics by specifying columns names and start and end times",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
              "success": 200
          }
        }
      }
    },
    "/get_entity_type_metadata": {
      "post": {
        "description": "Get Entity Type Metadata for an asset.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
              "success": 200
          }
        }
      }
    },
    "/get_entity_type_dimensions": {
      "post": {
        "description": "Get Entity Type dimensions for an asset.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "success": 200
          }
        }
      }
    },
  "/get_entity_types": {
    "get": {
      "description": "Get all Monitor Entity Types.",
      "produces": [
        "application/json"
      ],
      "responses": {
        "200": {
          "success": 200
        }
      }
  }
}
},
  "definitions": {
    "Pet": {
      "type": "object",
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        }
      }
    }
  }
}
